.correct-answer .form-check-input {
    border-color: green !important;
}

.correct-answer .form-check-label {
    color: green !important;
    font-weight: bold !important;
}

.incorrect-answer .form-check-input {
    border-color: red !important;
}

.incorrect-answer .form-check-label {
    color: red !important;
    font-weight: bold !important;
}

.content {
    min-height: 76vh;
}

.footer-icon {
    color: lightgray;
    transition: all 0.3s;
}

.footer-icon:hover {
    color: #007bff;
}
  